<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  <div class="row p-a-3">
    <div class="col-sm-6">
      <h1>{{ locations[loc].name }}</h1>
      <button type="button" class="btn btn-info-outline"
          ng-click= "fly()">fly</button>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->

  <div class="row m-a-3">
    <div class="col-sm-12">
      <div id="map"></div>
    </div>
  </div>
</div>
