<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#"> Editable Vector Tiles </a>
  </div>
</nav>

  <div class="row m-a-3">
    <div class="col-sm-12">
      <button type="button" class="btn btn-info-outline"
          ng-click="toggleEditing()">
        <i class="fa" aria-hidden="true"
            ng-class="!editing ? 'fa-lock' : 'fa-unlock'"></i>
      </button>

      <span ng-repeat="geomType in mode.options"
            ng-hide="!editing">
        <button type="button" class="btn"
            ng-click="draw(geomType)"
            ng-class="mode.current === geomType ? 'btn-info' : 'btn-info-outline'">
          {{ geomType }}
        </button>
      </span>

    </div>
  </div>

  <div class="row m-a-3">
    <div class="col-sm-12">
      <div id="map"></div>
    </div>
  </div>
